
body {
    background-color: #1F2525; 
    color: #E8ECEF; 
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #2D3436;
    color: #E8ECEF; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

figure.logo {
    background-color: #2D3436;
    border: 1pt solid #3B82F6;
    float: left;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 4px;
}

figure.logo img{
    width: 150px;
}

footer {
    background-color: #2D3436;
    color: #E8ECEF; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: right;
}

nav a.active {
    background-color: #3B82F6; 
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0px 6px; 
}

nav a:hover {
    background-color: #636E72; 
    color: #FFFFFF;
    border-radius: 4px;
}

h1, h2, h3 {
    color: #A3BFFA; 
}

a {
    color: #60A5FA; 
    text-decoration: none;
}

a:hover {
    color: #93C5FD; 
}

p {
    text-indent: 20px;
    margin: 16px 0;
}

p::first-letter{
  font-size: 150%;
}

h1::first-letter, h2::first-letter{
  font-size: 150%;
}

figure.about {
    background-color: #2D3436;
    float: right;
    padding: 5px;
    width: 150px;
    border-radius: 4px;
    margin: 10px;
}

figure.about img{
    width: 100%;
}

figcaption {
    text-align: center;
    font-size: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #4B5EAA;
}

tr:nth-child(even) {
    background-color: #2D3436; /* Darker row */
}

tr:nth-child(odd) {
    background-color: #232931; /* Lighter row */
}

th {
    background-color: #3B82F6;
    color: #FFFFFF;
}

form {
  max-width: 550px;
  margin: 0 auto;
  background-color: #2d2d2d;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
}

.form-group {
    border: 2px solid white;
    border-radius: 8px;
    border-color: #E8ECEF;  
    background-color: #2D3436;
    margin: 0 auto;
}

.form-group, p {
    padding: 5px;
}

